* {
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
}

h1 {
    color: white;
}

h2 {
    color: white;
}

li {
    color: white;
}

#container-image {
    
    position: relative;
    height: 100vh;
    width: 100vw;
    background: url('/images/pexels-maxime-francis-2246476.jpg');
    background-size: cover;
    
}

#container-gradient {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background: rgb(21,29,42);
    background: linear-gradient(0deg, rgba(21,29,42,0.7567401960784313) 7%, rgba(247,249,248,0.26094187675070024) 98%);
}

.header {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#motivation {
    align-items: center;
    position: relative;
    display: block;
    text-align: center;
    padding: 20px;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,0.7091211484593838) 21%, rgba(0,0,0,0.7035189075630253) 100%);
    width: 100%;
    position: relative;
}

#contain-motivation {
    padding: 20px;
    padding-bottom: 60px;
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}

#contain-motivation-left {
    display: inline-block;
    text-align: left;
    margin: 4px;
    height: 300px;
    width: 300px;
}

#contain-motivation-right {
    display: inline-block;
    justify-content: flex-start;
    text-align: left;
    padding-left: 20px;
    margin: 4px;
    height: 300px;
    width: 300px;
}

#container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
}

#link {
    color: grey;
}
#link:hover {
    color: darkorchid;   
}

#ul-motivation {
    display: flex;
    position: relative;
    text-align: center;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    align-content: center;
}

#dog-image {
    width: 200px;
    height: 250px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-end;
    align-items: center;
}